{{/* Get logo image */}}
{{/* Accept constraint and size parameters for potential future use */}}
{{- $constraint := .constraint | default "max_height" -}}
{{- $size := .size | default 70 -}}

{{- $logo := "" -}}

{{/* Check for custom logo in assets */}}
{{- $custom_logo := false -}}
{{- with resources.Get "media/logo.svg" -}}
  {{- $logo = . -}}
  {{- $custom_logo = true -}}
{{- else -}}
  {{- with resources.Get "media/logo.png" -}}
    {{- $logo = . -}}
    {{- $custom_logo = true -}}
  {{- end -}}
{{- end -}}

{{/* If no custom logo, check for icon */}}
{{- if not $custom_logo -}}
  {{- with resources.Get "media/icon.png" -}}
    {{- $logo = . -}}
  {{- end -}}
{{- end -}}

{{/* Return the logo resource */}}
{{- return $logo -}}
